fastapi
uvicorn
pydantic
python-dotenv
python-multipart
PyPDF2
langchain-core
langchain-google-genai
langchain-community
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
faiss-cpu
streamlit
requests
